* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}
:root {
  --color-1: #8AF262;
  --color-2: #000000;
  --color-3: #fff;
  --color-4: #363538;
  --color-5: #e4e4e4;
}

.app-container{
  display: grid;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #363538;
  border-radius: 10px;
}