.carbon-emission-list-description-vehicle-type-container{
    margin-left: -20px;

}
.carbon-emission-list-description-vehicle-type-icon-selector{
    display: flex;
    align-items: center;
}
.carbon-emission-list-description-vehicle-type-icon{
    width: 50px;
    height: 50px;
    color: var(--color-4);
}
.carbon-emission-list-description-vehicle-type-arrow-icon{
    width: 50px;
    height: 50px;
    color: var(--color-4);
    cursor: pointer;
}

.carbon-emission-list-description-vehicle-type-arrow-icon:hover{
    color: var(--color-1);
    transition: 0.5s;
    
}


